body{
    /* background-image: linear-gradient(to right, rgb(125, 170, 236), rgb(241, 229, 184));     */
    background-image: linear-gradient(180deg, rgba(255,255,255, 0.01), rgba(255,255,255, 1) 85%),radial-gradient(ellipse at top left, rgba(255,255,255, 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(255,228,132, 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(112.520718,44.062154,249.437846, 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(214,51,132, 0.5), transparent 50%);
}
.Contenido{
    margin-top: 4.3%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.Contenido2{
    margin-top: 3%;
    justify-content: center;
    display: flex;
}
.Contenido3{
    margin-top: 2%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.Contenido4{
    margin-top: 1%;
    display: flex;
}
.Contenido5{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.ContenidoImagen{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.ContenidoImagen2{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.Contenido6{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}
.Contenido7{
    margin-top: 3%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.InstalationsDocs{
    margin-top: 3%;
    justify-content: center;
    display: flex;
}
.Contenido8{
    display: flex;
    margin-top: 3%;
}
.Izquierda, 
.Derecha{
    width: 50%;
    height: auto;
    padding-bottom: 2%;
}
.Izquierda{
    border-right: 1px solid rgb(222, 226, 230);
    margin-left: 2.5%;
}
.Derecha{
    margin-left: 1%;
}
.Contenido9{
    margin-top: 2%;
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
}
.ContImagenes{
    margin-top: 2%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.subContainer{
    width: auto;
    height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contenido10{
    margin-top: 7%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
}
.ContainerFlecha{
    margin-top: 1.5%;
    display: flex;
}
.ContainerFlechader{
    margin-top: 1.5%;
    display: flex;
    margin-left: 2%;
}
.Contenido11{
    display: flex;
    margin-top: 3%;
}
.Izquierda2, 
.Derecha2{
    width: 50%;
    height: auto;
    padding-bottom: 2%;
}
.Izquierda2{
    margin-left: 2.5%;
}
.Derecha2{
    margin-left: 1%;
}
.Contenido12{
    display: flex ;
    margin-top: 8%;
    margin-left: 3%;
}
.Contenido13{
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
}
.Contenido14{
    display: flex;
    margin-top: 3%;
}
.ContainerMenus{
    margin-left: 2%;
    border: 1px solid rgb(222, 226, 230);
    height: auto;
    border-radius: 15px;
    margin-right: 5%;
    padding-bottom: 3%;
    padding-top: 1%;
}
.Contenido15{
    margin-top: 4%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
}
.Contenido16{
    margin-top: 2%;
    display: flex;
    margin-top: 3%;
}
.ContainerDropdown{
    margin-top: 5%;
    margin-left: 2%;
    border: 1px solid rgb(222, 226, 230);
    height: auto;
    border-radius: 15px;
    margin-right: 5%;
    padding-bottom: 3%;
    padding-top: 1%;
}
.PluginsCointainer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(199, 200, 201);
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 12%;
}
.izquierdaInterno,
.derechaInterno{
    width: 50%;
    height: auto;
}
.plugininterno{
    display: flex;
    width: 100%;
}
.izquierdaInterno{
    padding-right: 5%;
}
.derechaInterno{
    margin-left: 5%;
}